{% extends "layout.html" %}
    {% block content %}
        <div style="max-width: 70%; margin: auto">
        <h1>Área Reservada Gestão Categorias</h1>
        <hr>
        <h2 style="margin-bottom: 30px">Categorias Serviços: </h2>
        <ul style="width: 80%; margin: auto" class="list-group list-group-flush">
            {% for categoria in categoriasServicos %}
                <li  class="list-group-item" style="margin-bottom: 20px">
                    <div class="row">
                        <img style="height: 30px; margin-left: 40px; margin-right: 80px" src="/{{ categoria.foto }}">
                        <div class="col-md-3 col-xs-6 divTableCell">
                            <p style="font-size: 16px" >{{ categoria.nome }}</p>
                        </div>
                        <img src="/static/images/deleteicon.png" style="width: 25px; margin-left: 30px; position: absolute; right: 50px;" onclick="location.href='/deleteCategoriaServico/{{ categoria.id }}'" >
                    </div>
                </li>
            {% endfor %}
             <li  class="list-group-item" style="margin-left : 10%; margin-bottom: 20px; width: 80%">
                <div class="row" style="margin: auto">
                    <form action="/inserirCategoriaServico/" method="post"  enctype="multipart/form-data" style="width: 90%">
                        {% csrf_token %}
                        <div style="float:left; margin-left: 10%">
                            {{ formServicos.foto }}
                            <div class="col-md-12" style="margin: 15px auto; width: 90%">
                                {{ formServicos.nome }}
                            </div>
                        </div>
                        <div>
                            <button style="width: 150px; margin-left: 30px; margin-top: 3%" class="btn btn-success" type="submit">Inserir</button>
                        </div>
                    </form>
                </div>
            </li>
        </ul>
        <hr>
        <h2 style="margin-bottom: 30px">Categorias Produtos: </h2>
        <ul style="width: 80%; margin: auto" class="list-group list-group-flush">
            {% for categoria in categoriasProdutos %}
                <li  class="list-group-item" style="margin-bottom: 20px">
                    <div class="row">
                        <img style="height: 30px; margin-left: 40px; margin-right: 80px" src="/{{ categoria.foto }}">
                        <div class="col-md-3 col-xs-6 divTableCell">
                            <p style="font-size: 16px" >{{ categoria.nome }}</p>
                        </div>
                        <img src="/static/images/deleteicon.png" style="width: 25px; margin-left: 30px; position: absolute; right: 50px;" onclick="location.href='/deleteCategoriaProduto/{{ categoria.id }}'">
                    </div>
                </li>
            {% endfor %}

            <li  class="list-group-item" style="margin-left : 10%; margin-bottom: 20px; width: 80%">
                <div class="row" style="margin: auto">
                    <form action="/inserirCategoriaProduto/" method="post"  enctype="multipart/form-data" style="width: 90%">
                        {% csrf_token %}
                        <div style="float:left; margin-left: 10%">
                            {{ formProdutos.foto }}
                            <div class="col-md-12" style="margin: 15px auto; width: 90%">
                                {{ formProdutos.nome }}
                            </div>
                        </div>
                        <div>
                            <button style="width: 150px; margin-left: 30px; margin-top: 3%" class="btn btn-success" type="submit">Inserir</button>
                        </div>
                    </form>
                </div>
            </li>
        </ul>
        </div>
    {% endblock %}